html {
  height: 100%;
}

body {
  background-color: rgb(248, 237, 237);
}

.container {
  margin: auto;
  margin-top: 40px;
  max-width: 900px;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #1C213F;
  font-size: 80px;
  margin: 0px;
}

h2 {
  margin: 10px;
  font-size: 18pt;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar {
  width: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  height: 100%;
  margin: 10px;
  flex-direction: column;
  animation-name: testAnim;
  animation-duration: .4s;
  animation-iteration-count: 1; /* how many times the animation will play */
}

@keyframes testAnim {
    0% {
      transform: translateX(30%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.header {
  display: flex;
  height: 100px;
}

.header > img {
  width: 100px;
  margin-left: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-column {
  margin: 20px;
  width: 400px;
}

.content-column-single {
  margin: 20px;
}

.block {
  height: 10px;
  width: 40px;
}

.logo-row {
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.yellow-bg {
  background-color: #F3B900;
}

.blue-bg {
  background-color: #313A87;
}

.coral-bg {
  background-color: #F5534F;
}

.green-bg {
  background-color: green;
}

.white-bg {
  background-color: white;
}

.header-decoration {
  display: flex;
  margin-right: 30px;
  align-items: flex-start;
}

.clickableText {
  cursor: pointer;
}

.clickableText:hover {
  text-decoration: underline;
  color: #F3B900;
}

.artLinks {
  color: #313A87;
}

.gallery-image {
  /* max-height: 100%; */
  max-width: 100%;
  
  /* transform: scale(1); */
  filter: grayscale(100%);
  transition: .6s;
  transform-origin: center;
  display: block;
}

.gallery-image:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.gallery-image-container {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  text-align: center;
  top: -100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: top 0.4s, opacity 0.4s, transform 0.4s; */
  transition: opacity 0.3s;
  transition-timing-function: ease-in;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal.show {
  top: 0;
  opacity: 1;
  /* transform: translate(-50%, 0); */
  transition: opacity 0.3s;
  transition-timing-function: ease-in;
  /* transition: opacity 0.4s, transform 0.4s; */
}

.modal.hide {
  top: -100%;
  opacity: 0;
  /* transform: translate(-40%, 0); */
  transition: opacity 0.3s;
  transition-timing-function: ease-in;
}


.modal_content {
  background-color: rgb(248, 237, 237);;
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 20px;
  margin: 30px;
  overflow: hidden;
  border-radius: 5px;
  transform: translate(50%, 0);
  transition-timing-function: ease-in;
  transition: transform 0.3s;
}

.modal_content.show {
  transform: translate(0, 0);
}

.modal_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 10px;
}


.modal_image {
  height: 90%;
}

.close {
  cursor: pointer;
}
/* Color Theme Swatches in Hex */
.dark-blue { color: #1C213F; }
.green { color: green; }
.blue { color: #313A87; }
.yellow { color: #F3B900; }
.dark-yellow { color: #bd9309; }
.coral { color: #F5534F; }
/* .white { color: #F8E9E9; } */
.white { color: white; }